// Colors
$colors: (
  // backgrounds
  'main': #FFFFFF,
  'primary': #405EFF,
  'secondary': #B2BAC7,
  'background': #F6F7F9,
  'disable': #E9EBEF,

  // text
  'text-main': #303031,
  'text-desc': #999999,
);

// Resolution points
$mobile: 360px;
$tablet: 768px;
$desktop: 1440px;